{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<form action="{% url 'polls:index' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>


<button id="ajax-button">Get Data</button>

<div id="ajax-response"></div>

<script>
    var btnClick = document.body.addEventListener("click", function(event){
        if(event.target.nodeName == "BUTTON" && event.target.id == "ajax-button"){
            let div = document.getElementById('ajax-response')
            fetch('{% url "polls:ajax" %}')
            .then(response => response.json())
            .then(json => div.innerHTML = json.hola)
            .catch(err => console.log("error"));
        }
    });
</script>